<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="style.css">
  <script src="index.js" defer></script>
</head>
<body>
  <main>
    <!-- loop sidebar elems -->
    <nav>
      <input list="headings" id="search" type="text" placeholder="Search">
      <datalist id="headings">
        {% for heading in headings %}
        {% for item in heading %}
        <option value="{{item.path}}">{{item.title}}</option>
        {% endfor %}
        {% endfor %}
      </datalist>
      <br>
      <div class="nav-items">
        {% for item in sidebar_items %}
        {{item|safe}}
        {% endfor %}
      </div>
      <svg id="hide-nav-btn" width="24" height="24" viewBox="0 0 24 24" onclick="hideNav()">
        <rect y="4" width="24" height="2" fill="var(--a-blue)"/>
        <rect y="11" width="24" height="2" fill="var(--a-blue)"/>
        <rect y="18" width="24" height="2" fill="var(--a-blue)"/>
      </svg>
    </nav>
    <svg id="show-nav-btn" width="24" height="24" viewBox="0 0 24 24" onclick="showNav()">
      <rect y="4" width="24" height="2" fill="var(--a-blue)"/>
      <rect y="11" width="24" height="2" fill="var(--a-blue)"/>
      <rect y="18" width="24" height="2" fill="var(--a-blue)"/>
    </svg>
    <section>
      {{inside|safe}}

    </section>
  </main>
</body>
</html>